<div class="user-details">
    <h1 class="titleSpan">Detalhes do Usuário</h1>
    <mat-list>
        <mat-list-item>
            <span class="attributeSpan">Nome: </span><span class="valueSpan">Harry Potter</span>
        </mat-list-item>

        <mat-divider></mat-divider>
        
        <mat-list-item>
            <span class="attributeSpan">E-mail: </span><span class="valueSpan">"harry.potterhogwarts.com"</span>
        </mat-list-item>

        <mat-divider></mat-divider>
        
        <mat-list-item>
            <span class="attributeSpan">Senha: </span><span class="valueSpan">ExpectoPatronum123</span>
        </mat-list-item>

        <mat-divider></mat-divider>
        
        <mat-list-item>
            <span class="attributeSpan">Idade: </span><span class="valueSpan">24</span>
        </mat-list-item>

        <mat-divider></mat-divider>
        
        <mat-list-item>
            <span class="attributeSpan">Endereço: </span><span class="valueSpan">...</span>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item >
            <span class="attributeSpan" >Telefone: </span><span class="valueSpan">+44 1234 567890</span>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="attributeSpan">Função: </span><span class="valueSpan">Auror</span>
        </mat-list-item>
        
        <mat-divider></mat-divider>
        
        <mat-list-item>
            <span class="attributeSpan">Data do Cadastro: </span><span class="valueSpan">2020-06-01T14:30:00Z</span>
        </mat-list-item>
        
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="attributeSpan">Status Ativo: </span><span class="valueSpan">True</span>
        </mat-list-item>

        <mat-divider></mat-divider>
        
        <mat-list-item>
            <span class="attributeSpan">Status Online: </span><span class="valueSpan">True</span>
        </mat-list-item>

        <mat-divider></mat-divider>
        
        <mat-list-item>
            <span class="attributeSpan">Status Verificado: </span><span class="valueSpan">True</span>
        </mat-list-item>

        <mat-divider></mat-divider>
        
        <mat-list-item>
            <span class="attributeSpan">Status Assinatura Ativa: </span><span class="valueSpan">True</span>
        </mat-list-item>

        <mat-divider></mat-divider>
        
        <mat-list-item>
            <span class="attributeSpan">Status Ultimo Acesso: </span><span class="valueSpan">2025-02-25T10:45:00Z</span>
        </mat-list-item>
    </mat-list>
</div>